.prev
  position: absolute
  left: 0
  height: 120%
  cursor: pointer
.next
  position: absolute
  right: 0
  height: 100%
  cursor: pointer
.navigation
  margin-top: 10px
  margin-bottom: 30px
  position: relative
  height: 25px
.sliderContainer
  width: 100%
  margin-bottom: 100px
.imageSlide
  margin: 0 auto
  height: 90%
.container
  max-width: 1000px
  width: calc(100% - 200px)
  margin: 0 auto
.detail
  margin 20px 0 50px 0
  line-height: 1.7
  letter-spacing: 2px
.imageName
  margin-top: 40px
  text-align: center
.imageWork
  img
    height: 50px
