.logo
  width 200px!important
  cursor: pointer
  margin-left: -10px
.information
  width: 200px
  margin-right: 60px
  cursor: pointer;
  float right
  margin-top: 10px
.container
  max-width 1000px
  margin: 0 auto
